---
import Hero from '../layouts/Hero.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<Hero title={SITE_TITLE} description={SITE_DESCRIPTION} centered>
	<h2 class="hero-name">Chandreyi (Zini) Chakraborty</h2>
	<p class="hero-tagline">passionate about interpretable and efficient ai</p>
</Hero>
